/* global.css */
* {
  font-family: "Noto Sans Lao", sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
}
/* Add this to global.css as well */
.ant-input,
.ant-input-affix-wrapper,
.ant-input-textarea,
.ant-select-selector,
.ant-btn,
.ant-typography,
.ant-form-item-label label,
.ant-picker-input {
  font-family: "Noto Sans Lao", sans-serif !important;
}
